:root {
    font-size: 18px;
    --gray30: #212121;
    --gray20: #212429;
    --gray10: #616161;

}

html {
    font-size: 16px;
}

body {
    color: var(--gray30);
    font-size: 10px;
}

a {
    color: var(--gray30);
}

li {
    font-size: 3rem;
}

header{
    font-size: 3rem;
    /* background-color: red; */
    color: var(--gray10);
    width: 800px;
}

header a {
    color: var(--gray10);
    text-decoration: none;
}

header a:hover{
    color: var(--gray10);
}

nav details summary {
    font-weight: bold
}

ol li{
    border: 1px solid red;
}


h1 {
    font-size: 60px;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size:  1.5em;
}